In [1]:
import math

## Data Types in Python

The following data types can be used in base python:
* **boolean**
* **integer**
* **float**
* **string**
* **list**
* **None**
* complex
* object
* set
* dictionary

We will only focus on the **bolded** ones

Let's connect these data types to the the variable types we learned from the [Variable Types video](https://www.coursera.org/learn/understanding-visualization-data/lecture/iDodZ/variable-types).

###  Numerical or Quantitative (taking the mean makes sense)
* Discrete
    * Integer (int) #Stored exactly
* Continuous
    * Float (float) #Stored similarly to scientific notation. Allows for decimal places but loses precision.

In [2]:
type(4)

int

In [3]:
type(0)

int

In [4]:
type(-3)

int

In [5]:
#try taking the mean
numbers = [2, 3, 4, 5]
print(sum(numbers)/len(numbers))
type(sum(numbers)/len(numbers)) #In Python 3 returns float, but in Python 2 would return int

3.5

float

**Floats**

In [6]:
3/5

0.6

In [7]:
6*10**(-1)

0.6000000000000001

In [8]:
type(3/5)

float

In [9]:
type(math.pi)

float

In [10]:
type(4.0)

float

In [11]:
# Try taking the mean
numbers = [math.pi, 3/5, 4.1]
type(sum(numbers)/len(numbers))

float

### Categorical or Qualitative
* Nominal
    * Boolean (bool)
    * String (str)
    * None (NoneType)
* Ordinal
    * Only defined by how you use the data
    * Often important when creating visuals
    * Lists can hold ordinal information because they have indices

**Boolean**

In [12]:
# Boolean
type(True)

bool

In [13]:
# Boolean
if 6 < 5:
    print("Yes!")

In [14]:
myList = [True, 6<5, 1==3, None is None]
for element in myList:
    print(type(element))

<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [15]:
print(sum(myList)/len(myList))
type(sum(myList)/len(myList))

0.5

float

**String**

In [16]:
type("This sentence makes sense")

str

In [17]:
type("Makes sentense this sense")

str

In [18]:
type("math.pi")

str

In [19]:
strList = ['dog', 'koala', 'goose']
sum(strList)/len(strList)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Nonetype**

In [20]:
# None
type(None)

NoneType

In [21]:
# None
x = None
type(x)

NoneType

In [23]:
nonList = [None]*5
sum(nonList)/len(nonList)

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

**Lists**

A list can hold many types and can also be used to store ordinal information.

In [24]:
# List
myList = [1, 1.1, "This is a sentence", None]
for element in myList:
    print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'NoneType'>

In [25]:
sum(myList)/len(myList)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [26]:
# List
myList = [1, 2, 3]
for element in myList:
    print(type(element))
sum(myList)/len(myList) # note that this outputs a float

<class 'int'>
<class 'int'>
<class 'int'>

2.0

In [27]:
myList = ['third', 'first', 'medium', 'small', 'large']
myList[0]

'third'

In [28]:
myList.sort()
myList

['first', 'large', 'medium', 'small', 'third']

There are more datatypes available when using different libraries such as Pandas and Numpy, which we will introduce to you as we use them.